:root {
  /* Set fade in duration */
  --fade-time: 0.5s;
}

body {
  margin: 20px;
  padding: 0;
  background: #e6e6e6;
}

.galeria {
  max-width: 760px;
  margin: auto;

}

.img-destaque img,
.imgGrid img {
  width: 100%;
  /* border: #b3b3b3 solid 3px; */
  background: #b3b3b3;
}

.imgGrid {
  display: flex;
  flex-wrap: wrap;
}

.imgGrid img {
  cursor: pointer;
}

.imgMiniatura {
  width: calc(100%/4);
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

/* Media Queries */
@media(max-width: 600px) {
  .imgGrid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .imgMiniatura {
    flex: 0 0 auto;
    width: calc(100%/3.33);
  }
}